.menu-mobile {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #66042a;
}

.menu-mobile a {
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.menu-mobile a:hover {
  background-color: #ffffff;
  color: #66042a;
}